*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    height: 160svh;
    width: 90%;
    background-color: #142d4c;
}

.nav{
    position: fixed;
    background-color: #385170;
    width: 90%;
    padding: 10px 0px;
    z-index: 1000;
    top: 0;
    text-align: center;
    margin-bottom: 10px ;
    border-radius: 5px;
}
.nav h1{
    color:#ececec;
}

.container{
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.container h2{
    text-align: center;
    color: #ececec;
}

.block{
    height: 100vh;
    align-content: center;
}

.grid-anggota{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 20px;
}

.foto{
    background-color: #9fd3c7;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.foto img{
    width: 80%;
}

.menu{
    position: sticky;
    top: 105px;
    background-color: #385170;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
    justify-items: center;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    z-index: 1000
}

.menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #ececec;
    padding-bottom: 2px;
    /* border-bottom: 1px solid gray ; */
    transition: all 0.4s;
}

.menu a:hover{
    color: black;
    border-bottom: 1px solid black;
    font-size: 19px;
}

#des-singkat{
    display: flex;
    align-items: center;
}

#des-singkat img{
    width: 350px;
    height: 256px;
    margin-right: 20px;
    border-radius: 5px;
}

#des-singkat p{
    text-align: justify;
    background-color:#9fd3c7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    height: 246px;
}

#sejarah{
    background-color: #9fd3c7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.grid-peristiwa{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 20px;
    
}
.peristiwa{
    background-color: #9fd3c7;
    margin-bottom: 20px;
    margin-left: 100px;
}
.peristiwa p{
    text-align: justify;
    margin-top: 50px;

}

.tokoh {
    
    background-color: #9fd3c7;
    border: 1px solid grey;
    border-radius: 5px;
    
    gap: 20px; /* Tambahkan jarak antara gambar dan teks */
}

.tokoh img {
    display: block; /* Ubah gambar menjadi elemen block */
    margin: 0 auto; /* Memusatkan gambar secara horizontal */
    width: 150px; /* Sesuaikan ukuran gambar */
    height: auto; /* Pertahankan rasio gambar */
    border-radius: 5px; /* Tambahkan border radius untuk tampilan lebih halus */
}

.tokoh p {
    margin: 20px; /* Hilangkan margin default */
    text-align: justify; /* Rata kiri-kanan untuk teks */
    line-height: 1.5; /* Tambahkan jarak antar baris untuk keterbacaan */
    font-size: 16px; /* Sesuaikan ukuran font */
}