*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    height: 160svh;
}

.nav{
    position: fixed;
    background-color: #efefef;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    top: 0;
    text-align: center;
    margin-bottom: 10px ;
}

.container{
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 700px;
}

.container h2{
    text-align: center;
}

.block{
    height: 100vh;
    align-content: center;
}




.grid-anggota{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 20px;
}

.foto, .peristiwa, .tokoh{
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.foto img{
    width: 80%;
}

.menu{
    position: sticky;
    top: 99px;
    background-color: #efefef;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
    justify-items: center;
    height: 50px;
    margin-bottom: 20px;
    z-index: 1000
}

.menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: black;
    padding-bottom: 2px;
    /* border-bottom: 1px solid gray ; */
    transition: all 0.4s;
}

.menu a:hover{
    color: coral;
    border-bottom: 1px solid coral;
    font-size: 19px;
}

#des-singkat, #sejarah, #tokoh-penting, #fakta-menarik{
    background-color: #efefef;
    width: 610px;
    padding: 10px 13px;
    margin: 0 auto;
    text-align: justify;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20% ; 
}

.peristiwa img, .tokoh img{
    width: 100px;
}

.grid-peristiwa, .grid-tokoh{
    display: grid;
    grid-template-columns:260px 260px;
    justify-content: center;
    gap: 20px;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}