*{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    padding: 0;
    height: 160svh;
    width: 90%;
    background-color: #142d4c;
}

.nav{
    position: fixed;
    background-color: #385170;
    width: 90%;
    padding: 10px 0px;
    z-index: 1000;
    top: 0;
    text-align: center;
    margin-bottom: 10px ;
    border-radius: 5px;
}
.nav h1{
    color:#ececec;
}

.container{
    margin: 0 auto;
    position: relative;
    /* top: 100px; */
}

.container h2{
    text-align: center;
    color: #ececec;
}

.block{
    height: 100vh;
    align-content: center;
}

.grid-anggota{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 20px;
}

.foto{
    background-color: #9fd3c7;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.foto img{
    width: 80%;
    border-radius: 5px;
}

.menu{
    position: sticky;
    top: 105px;
    background-color: #385170;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
    justify-items: center;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    z-index: 1000
}

.menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #ececec;
    padding-bottom: 2px;
    /* border-bottom: 1px solid gray ; */
    transition: all 0.4s;
}

.menu a:hover{
    color: #9fd3c7;
    border-bottom: 1px solid #9fd3c7;
    font-size: 19px;
}

.judul{
    font-size: 38px;
}

#des-singkat{
    display: flex;
    align-items: center;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20% ;
}

#des-singkat img{
    width: 350px;
    height: 256px;
    margin-right: 20px;
    border-radius: 5px;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20% ;
}

.text{
    text-align: justify;
    align-content: center;
    background-color:#9fd3c7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    min-height: 246px;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20% ;
}

#sejarah, #tokoh-penting, #fakta-menarik{
    background-color: #9fd3c7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20% ;
}

.grid-peristiwa{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 20px;
    
}
.peristiwa{
    background-color: #9fd3c7;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.peristiwa p{
    text-align: justify;
    margin-top: 50px;
}

.peristiwa img{
    width: 50%;
    border-radius: 5px;
}

.grid-tokoh{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 20px;
}

.tokoh img{
    width: 50%;
    border-radius: 5px;
}

.tokoh p{
    text-align: justify;
    margin-top: 50px;
}

.tokoh{
    background-color: #9fd3c7;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@media screen and (max-width: 1080px){
   #des-singkat{
    flex-direction: column;
    align-items: center;
    text-align: center;
   }

    #des-singkat img{
     width: 90%;
     height: auto;
     margin: 0 auto;
     margin-bottom: 10px;
    }

   #des-singkat p{
    width: 90%;
    margin: 0 auto;
   }

   #sejarah, #tokoh-penting, #fakta-menarik{
    text-align: center;
   }

   #p{
    text-align: justify;
   }

   .grid-peristiwa, .grid-tokoh{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    gap: 20px;
   }

   
}